<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PLCcodeGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PLCcodeGen.Properties.Settings>
            <setting name="LoadPreviousProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviousProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultProjectPath" serializeAs="String">
                <value>c:\Users\Lars</value>
            </setting>
        </PLCcodeGen.Properties.Settings>
    </userSettings>
</configuration>